<?xml version="1.0" encoding="UTF-8"?>
<Wix  xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define Apps_TargetDir=$(var.hitung-shu.TargetDir)?>
  <?define BusinessObject_TargetDir=$(var.polowijo.gosari.dto.TargetDir)?>
  <?define helpers_TargetDir=$(var.polowijo.gosari.helpers.TargetDir)?>
  <?define Dal_TargetDir=$(var.polowijo.gosari.dal.TargetDir)?>

  <Product Id="*" Name="Hitung SHU" Language="1033" Version="1.0.0.1" Manufacturer="IT Polowijo Gosari Group" UpgradeCode="879ab3d6-95d7-4e6f-b664-d0f00ea57f34">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Other\license.rtf" />
    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\resource\icon.ico" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Jalankan Aplikasi Hitung SHU" />

    <Property Id="WixShellExecTarget" Value="[#hitung_shu.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Koperasi Karya Polowijo Abadi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="UninstallShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ApplicationProgramFilesFolder" Name="Hitung Shu" />
        <Directory Id="INSTALLFOLDER" Name="Hitung Shu">
          <Directory Id="LogErrorFolder" Name="Log Error">
            <Component Id="EmptyComponent2" Guid="f8e1985d-d4db-4569-82ec-2e2e91a0ae5f"
    SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
              <CreateFolder/>
            </Component>
          </Directory>
          <Directory Id="DatabaseFolder" Name="Database">
            <Component Id="database_SHU.mdb" Guid="07e45341-388e-50d3-8c7a-280da9cf096e">
                <File Id="database_SHU.mdb" Name="database SHU.mdb" Source="$(var.Apps_TargetDir)\Database\database SHU.mdb" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Hitung Shu" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
		</Directory>
    
    <Feature Id="EmptyComponent2" Title="testfolder" Level="1">
      <ComponentRef Id="EmptyComponent2"/>
    </Feature>
  
    <Feature Id="database_SHU.mdb" Title="testfolder" Level="1">
      <ComponentRef Id="database_SHU.mdb"/>
    </Feature>
	</Fragment>

  <Fragment>  
    <DirectoryRef Id="ApplicationProgramFilesFolder">
      <Component Id="UninstallShortcut" Guid="cecebb30-4c7a-4bbe-8ff4-bcd620b982d2">
        <Shortcut Id="Uninstall"
                  Name="Uninstall"
                  Description="Uninstalls Hitung Shu"
                  Target="[System32Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Directory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveApplicationProgramFilesFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Hitung Shu"
                  Description="Aplikasi Hitung Shu"
                  Target="[INSTALLFOLDER]hitung-shu.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall Hitung Shu"
                  Description="Uninstalls Aplikasi Hitung Shu"
                  Target="[System32Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Hitung-shu" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Hitung Shu" Description="Aplikasi Hitung Shu" Target="[INSTALLFOLDER]hitung-shu.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Hitung-shu" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->

      <Component Id="hitung_shu.exe" Guid="07e45341-388e-49d3-8c7a-280da9cf096e">
        <File Id="hitung_shu.exe" Name="hitung-shu.exe" Source="$(var.Apps_TargetDir)hitung-shu.exe" />
      </Component>
      <Component Id="hitung_shu.exe.config" Guid="bfa7bc27-f7b3-41e5-b82b-aebfb22947ef">
        <File Id="hitung_shu.exe.config" Name="hitung-shu.exe.config" Source="$(var.Apps_TargetDir)hitung-shu.exe.config" />
      </Component>
      <Component Id="SpreadsheetLight.dll" Guid="1918d710-364c-465c-8d85-1fee27fa7405">
        <File Id="SpreadsheetLight.dll" Name="SpreadsheetLight.dll" Source="$(var.Apps_TargetDir)SpreadsheetLight.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.dll" Guid="69425da5-041b-4468-b681-980a1d2a4e92">
        <File Id="Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" Source="$(var.Apps_TargetDir)Xceed.Wpf.AvalonDock.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="4d5f734f-82cd-444f-93af-56050408eed1">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="$(var.Apps_TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="0d7574d4-3493-4892-9044-e9cff657d55c">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="$(var.Apps_TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="5ade6a85-c092-4ead-a1fb-bf25f4e25473">
        <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="$(var.Apps_TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="f0818444-6a6a-4ec0-baec-a7ee0bf5e492">
        <File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Apps_TargetDir)Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Component Id="DocumentFormat.OpenXml.dll" Guid="1c15ee07-327e-4c29-adee-78a97475ddbe">
        <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.Apps_TargetDir)DocumentFormat.OpenXml.dll" />
      </Component>

      <!--Others-->
      <Component Id="polowijo.gosari.dal.dll" Guid="f58b5a8a-45ff-4828-bc1e-b59d30b9cf3c">
        <File Id="polowijo.gosari.dal.dll" Name="polowijo.gosari.dal.dll" Source="$(var.Dal_TargetDir)polowijo.gosari.dal.dll" />
      </Component>
      <Component Id="polowijo.gosari.dto.dll" Guid="c6e042a0-ad40-4e7d-8ef6-a1ac9b1ed11a">
        <File Id="polowijo.gosari.dto.dll" Name="polowijo.gosari.dto.dll" Source="$(var.BusinessObject_TargetDir)polowijo.gosari.dto.dll" />
      </Component>
      <Component Id="polowijo.gosari.helpers.dll" Guid="7a076caf-2bb5-4aa7-8402-0a3a11a16010">
        <File Id="polowijo.gosari.helpers.dll" Name="polowijo.gosari.helpers.dll" Source="$(var.helpers_TargetDir)polowijo.gosari.helpers.dll" />
      </Component>
      <!-- Other -->
    </ComponentGroup>
	</Fragment>
</Wix>
