<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?ifndef Version?>
  <?define Version = "1.0.0.0" ?>
  <?endif ?>
  
  <?define Msi_TargetDir=$(var.SetupProject.TargetDir)?>

  <Bundle 
    Name="Hitung SHU" 
    Version="$(var.Version)" 
    Manufacturer="IT Polowijo Gosari Group" 
    UpgradeCode="b899fbc7-23d7-468d-8c55-e6e38c1ec015"
    HelpUrl="https://www.polowijogosari.co.id"
    Copyright="Copyright© 2020 Polowijo Gosari Group" IconSourceFile="resource\icon.ico"
    SplashScreenSourceFile="resource\background.png"
    AboutUrl= "https://www.polowijogosari.co.id">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
    <WixVariable Id="WixStdbaLicenseRtf" Value="Other\License.rtf"/>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Hitung Shu" />
    
    <PayloadGroup Id="NetFx46RedistPayload">
        <Payload Name="NDP46-KB3045557-x86-x64-AllOS-ENU.exe"
                 SourceFile="Redist\NDP46-KB3045557-x86-x64-AllOS-ENU.exe"/>
    </PayloadGroup>
    
    <Chain>
      <PackageGroupRef Id="NetFx46Redist" />
      <RollbackBoundary />
      <MsiPackage Id="SetupProject" SourceFile="$(var.SetupProject.TargetPath)"/>
    </Chain>   
  </Bundle>
  
  <Fragment>
    <PackageGroup Id="Netfx46" >
      <ExePackage Id="Netfx46" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="yes" InstallCommand="/q"
          SourceFile="NDP46-KB3045557-x86-x64-AllOS-ENU.exe"
          DetectCondition="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
    </PackageGroup>
  </Fragment>
</Wix>
