<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <?ifndef Version?>
  <?define Version = "1.0.0.0" ?>
  <?endif ?>
  
  <?define Msi_TargetDir=$(var.SetupProject.TargetDir)?>

  <Bundle 
    Name="Hitung SHU" 
    Version="$(var.Version)" 
    Manufacturer="IT Polowijo Gosari Group" 
    UpgradeCode="b899fbc7-23d7-468d-8c55-e6e38c1ec015"
    HelpUrl="https://www.polowijogosari.co.id"
    Copyright="Copyright© 2020 Polowijo Gosari Group" IconSourceFile="resource\icon.ico"
    SplashScreenSourceFile="resource\background.png"
    AboutUrl= "https://www.polowijogosari.co.id">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
      <bal:WixStandardBootstrapperApplication
        LogoFile="resource/background.png"
        ThemeFile="resource/ClassicTheme.xml"
        LocalizationFile="resource/ClassicTheme.wxl"
        LicenseUrl="http://opensource.org/licenses/ms-rl" />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixStdbaLicenseRtf" Value="Other\License.rtf"/>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Hitung Shu" />

   
    <Chain>
      <MsiPackage Id="SetupProject" SourceFile="$(var.SetupProject.TargetPath)"/>
    </Chain>   
  </Bundle>
</Wix>
